<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Engineering Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="icon" href="/images/website_icon.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <nav>
	<input id="nav-toggle" type="checkbox">
	<div class="logo"><strong>Welcome</strong></div>
	<ul class="links">
		<li><a href="/">Home</a></li>
		<li><a href="/projectsCollaborator/projectsView">Projects Collaborator</a></li>
		<li><a href="/">Timetable Schdeuler</a></li>
		<li><a href="/signup">Signup</a></li>
	</ul>
	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>
<br>
<br><br><br>
<h3>Welcome Back !</h3>
<h4>Login Now to Use our Features again.</h4>
<div class="container">
    <div class="rl-container">
        <div class="left-half">
            <img src="/images/login-illustration.png" width="100%" class="login-illustration" alt="login-illustration">
        </div>
        <div class="right-half">
            <div class="login-credentials form-group ">
                <form method="POST" action="/login">
                    <div class="form-group w-75 align-center">
                        <label class="col-form-label col-form-label-lg">Username</label>
                        <input type="text" class="form-control username" name="username" placeholder="Enter Username">
                    </div>
                    <div class="form-group w-75">
                        <label class="col-form-label col-form-label-lg ">Password</label>
                        <input type="password" class="form-control password" name="password" placeholder="Enter Password">
                    </div>                
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg loginBtn">Login</button>
                    </div>
                </form>    
                <hr>
                <hr>             
                <div class="text-center">
                    <button type="submit" class="btn btn-lg createAccount"><a href="/signup">Signup</a></button>
                </div>
            </div>
        </div>
    </div>        
</div>

<%- include ('./partials/footer.ejs'); -%>
