<%- include ('./partials/header.ejs'); -%>

<h4>Morning Lab Evening Theory</h4>
<h4>Time Table :-</h4>
<!--TimeTable -->
<div class="container">
    <table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
        <th scope="col">Timing</th>
        <th scope="col">08:00 - 09:30</th>
        <th scope="col">10:00 - 11:30</th>
        <th scope="col">11:30 - 01:00</th>
        <th scope="col">02:00 - 02:45</th>
        <th scope="col">03:00 - 03:45</th>
        <th scope="col">04:00 - 04:45</th>
        <th scope="col">05:00 - 05:45</th>
        <th scope="col">06:00 - 06:45</th>
    </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">Monday</th>
        <td><button>L1+L2</button></td>
        <td><button>L3+L4</button></td>
        <td><button>L5+L6</button></td>
        <td><button>A2</button></td>
        <td><button>F2</button></td>
        <td><button>D2</button></td>
        <td><button>TB2</button></td>
        <td><button>TG2</button></td>
    </tr>
    <tr>
        <th scope="row">Tuesday</th>
        <td><button>L7+L8</button></td>
        <td><button>L9+L10</button></td>
        <td><button>L11+L12</button></td>
        <td><button>B2</button></td>
        <td><button>G2</button></td>
        <td><button>E2</button></td>
        <td><button>TC2</button></td>
        <td><button>TAA2</button></td>
    </tr>
    <tr>
        <th scope="row">Wednesday</th>
        <td><button>L13+L14</button></td>
        <td><button>L15+L16</button></td>
        <td><button>L17+L18</button></td>
        <td><button>C2</button></td>
        <td><button>A2</button></td>
        <td><button>F2</button></td>
        <td><button>TD2</button></td>
        <td><button>TBB2</button></td>
    </tr>
    <tr>
        <th scope="row">Thursday</th>
        <td><button>L19+L20</button></td>
        <td><button>L21+L22</button></td>
        <td><button>L23+L24</button></td>
        <td><button>D2</button></td>
        <td><button>B2</button></td>
        <td><button>G2</button></td>
        <td><button>TE2</button></td>
        <td><button>TCC2</button></td>
    </tr>
    <tr>
        <th scope="row">Friday</th>
        <td><button>L25+L26</button></td>
        <td><button>L27+L28</button></td>
        <td><button>L29+L30</button></td>
        <td><button>E2</button></td>
        <td><button>C2</button></td>
        <td><button>TA2</button></td>
        <td><button>TF2</button></td>
        <td><button>TDD2</button></td>
    </tr>
    </tbody>
    
</table>
</div>


<%- include ('./partials/footer.ejs'); -%>