<%- include ('./partials/header.ejs'); -%>

<h4>Morning Lab Evening Theory</h4>
<h4>Time Table :-</h4>
<!--TimeTable -->
<div class="container">
    <table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
        <th scope="col">Timing</th>
        <th scope="col">08:00 - 09:30</th>
        <th scope="col">10:00 - 11:30</th>
        <th scope="col">11:30 - 01:00</th>
        <th scope="col">02:00 - 02:45</th>
        <th scope="col">03:00 - 03:45</th>
        <th scope="col">04:00 - 04:45</th>
        <th scope="col">05:00 - 05:45</th>
        <th scope="col">06:00 - 06:45</th>
    </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">Monday</th>
        <td><button class="slot">L1+L2</button></td>
        <td><button class="slot">L3+L4</button></td>
        <td><button class="slot">L5+L6</button></td>
        <td><button class="slot">A2</button></td>
        <td><button class="slot">F2</button></td>
        <td><button class="slot">D2</button></td>
        <td><button class="slot">TB2</button></td>
        <td><button class="slot">TG2</button></td>
    </tr>
    <tr>
        <th scope="row">Tuesday</th>
        <td><button class="slot">L7+L8</button></td>
        <td><button class="slot">L9+L10</button></td>
        <td><button class="slot">L11+L12</button></td>
        <td><button class="slot">B2</button></td>
        <td><button class="slot">G2</button></td>
        <td><button class="slot">E2</button></td>
        <td><button class="slot">TC2</button></td>
        <td><button class="slot">TAA2</button></td>
    </tr>
    <tr>
        <th scope="row">Wednesday</th>
        <td><button class="slot">L13+L14</button></td>
        <td><button class="slot">L15+L16</button></td>
        <td><button class="slot">L17+L18</button></td>
        <td><button class="slot">C2</button></td>
        <td><button class="slot">A2</button></td>
        <td><button class="slot">F2</button></td>
        <td><button class="slot">TD2</button></td>
        <td><button class="slot">TBB2</button></td>
    </tr>
    <tr>
        <th scope="row">Thursday</th>
        <td><button class="slot">L19+L20</button></td>
        <td><button class="slot">L21+L22</button></td>
        <td><button class="slot">L23+L24</button></td>
        <td><button class="slot">D2</button></td>
        <td><button class="slot">B2</button></td>
        <td><button class="slot">G2</button></td>
        <td><button class="slot">TE2</button></td>
        <td><button class="slot">TCC2</button></td>
    </tr>
    <tr>
        <th scope="row">Friday</th>
        <td><button class="slot">L25+L26</button></td>
        <td><button class="slot">L27+L28</button></td>
        <td><button class="slot">L29+L30</button></td>
        <td><button class="slot">E2</button></td>
        <td><button class="slot">C2</button></td>
        <td><button class="slot">TA2</button></td>
        <td><button class="slot">TF2</button></td>
        <td><button class="slot">TDD2</button></td>
    </tr>
    </tbody>
    
</table>
</div>
<script>
    document.querySelectorAll('.slot').forEach((item,index)=>{
        item.addEventListener('click',function(){
            item.disabled="true";
            item.style.backgroundColor="#FFFF2E";
            item.style.color="rgb(211,23,23)";
            
        })
    })
    
</script>


<%- include ('./partials/footer.ejs'); -%>