<%- include ('./partials/header.ejs'); -%>

<h4>Morning Theory Evening Lab</h4>
<h4>Time Table</h4>

<div class="container">
    <table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
        <th scope="col">Timing</th>
        <th scope="col">08:00 - 08:45</th>
        <th scope="col">09:00 - 09:45</th>
        <th scope="col">10:00 - 10:45</th>
        <th scope="col">11:00 - 11:45</th>
        <th scope="col">12:00 - 12:45</th>
        <th scope="col">02:00 - 03:30</th>
        <th scope="col">04:00 - 05:30</th>
        <th scope="col">05:30 - 07:00</th>
    </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">Monday</th>
        <td><button>A1</button></td>
        <td><button>F1</button></td>
        <td><button>D1</button></td>
        <td><button>TB1</button></td>
        <td><button>TG1</button></td>
        <td><button>L31+L32</button></td>
        <td><button>L33+L34</button></td>
        <td><button>L35+L36</button></td>
    </tr>
    <tr>
        <th scope="row">Tuesday</th>
        <td><button>B1</button></td>
        <td><button>G1</button></td>
        <td><button>E1</button></td>
        <td><button>TC1</button></td>
        <td><button>TAA1</button></td>
        <td><button>L37+L38</button></td>
        <td><button>L39+L40</button></td>
        <td><button>L41+L42</button></td>
    </tr>
    <tr>
        <th scope="row">Wednesday</th>
        <td><button>C1</button></td>
        <td><button>A1</button></td>
        <td><button>F1</button></td>
        <td><button>V1</button></td>
        <td><button>V1</button></td>
        <td><button>L43+L44</button></td>
        <td><button>L45+L46</button></td>
        <td><button>L47+L48</button></td>
    </tr>
    <tr>
        <th scope="row">Thursday</th>
        <td><button>D1</button></td>
        <td><button>B1</button></td>
        <td><button>G1</button></td>
        <td><button>TE1</button></td>
        <td><button>TCC1</button></td>
        <td><button>L49+L50</button></td>
        <td><button>L51+L52</button></td>
        <td><button>L53+L54</button></td>
    </tr>
    <tr>
        <th scope="row">Friday</th>
        <td><button>E1</button></td>
        <td><button>C1</button></td>
        <td><button>TA1</button></td>
        <td><button>TF1</button></td>
        <td><button>TD1</button></td>
        <td><button>L55+L56</button></td>
        <td><button>L57+L58</button></td>
        <td><button>L59+L60</button></td>
    </tr>
    </tbody>
    
</table>
</div>

<%- include ('./partials/footer.ejs'); -%>