<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
  </head>
  <body>
    <% var link = "dalm" %>
    <br>
    <form action="/signup" method="POST">
      <label for="regno">Reg No</label>
      <input type="text" name="regno" id="regno" />
      <br />
      <br />
      <label for="fullname">Full Name</label>
      <input type="text" name="fullname" id="fullname" />
      <br />
      <br />
      <label for="username">username</label>
      <input type="text" name="username" id="username" />
      <br />
      <br />
      <label for="password" class="col-md-2">Password</label>
      <input type="password" name="password" />
      <br />
      <input type="submit" name="" id="submit" />
    </form>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
