<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="icon" href="/images/website_icon.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/signup.css">
    
</head>
<body>
<nav>
	<input id="nav-toggle" type="checkbox">
	<div class="logo"><strong>Welcome</strong></div>
	<ul class="links">
		<li><a href="/">Home</a></li>
		<li><a href="/">Projects Collaborator</a></li>
		<li><a href="/">Timetable Schdeuler</a></li>
		<li><a href="/login">Login</a></li>
	</ul>
	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>
<br>
<br><br><br>
<h3>SIGN UP NOW !</h3>
<h4>Few clicks away from enjoying amazing features</h4>
<div class="container">
    <div class="rl-container">
        <div class="left-half">
            <img src="/images/signup-illustration.png" width="100%" class="signup-illustration" alt="signup-illustration">
        </div>
        <div class="right-half">
            <div class="signup-credentials form-group ">
                <form method="POST" action="/signup">
                    <div class="form-group w-75 align-center">
                        <label class="col-form-label col-form-label-lg">Full Name</label>
                        <input type="text" class="form-control fullname" name="fullname" placeholder="Enter Fullname">
                    </div>
					<div class="form-group w-75 align-center">
                        <label class="col-form-label col-form-label-lg">Username</label>
                        <input type="text" class="form-control username" name="username" placeholder="Enter Username">
                    </div>
                    <div class="form-group w-75">
                        <label class="col-form-label col-form-label-lg ">Password</label>
                        <input type="password" class="form-control password" name="password" placeholder="Enter Password">
                    </div> 
					<div class="form-group w-75 align-center">
                        <label class="col-form-label col-form-label-lg">Registration Number</label>
                        <input type="text" class="form-control regno" name="regno" placeholder="Enter Registration Number">
                    </div> 
					<div class="form-group">
                        <label class="col-form-label col-form-label-lg ">Select Slots</label><br>
                        <div class="form-check form-check">
                            <input class="form-check-input" type="radio" id="MTEL" value="1" name="batch">
                            <label class="form-check-label" for="MTEL">Morning Theory & Evening Lab</label>
                        </div>
                        <div class="form-check form-check">
                            <input class="form-check-input" type="radio" id="MLET" name="batch" value="0">
                            <label class="form-check-label" for="MLET">Morning Lab &Evening Theory</label>
                        </div>
                    </div>              
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg signupBtn">Signup</button>
                    </div>
                </form>    
                <hr>
                <hr>             
                <div class="text-center">
                    <button type="submit" class="btn btn-lg login"><a href="/login">Login</a></button>
                </div>
            </div>
        </div>
    </div>        
</div>
<%- include ('./partials/footer.ejs'); -%>













































































<%- include ('./partials/footer.ejs'); -%>
