<%- include ('./partials/header.ejs'); -%>

<h1>Software Engineering Project</h1>
<p>Jai SureshKumar WI sir</p>
<h4>Jai Sampreeth Anna</h4>
<<<<<<< HEAD
<h4>This is going to be an amazing project</h4>
=======
<p>Software project !!!</p>
>>>>>>> e50191daa69913b2ffe928c499e09e1c65a818e3

<%- include ('./partials/footer.ejs'); -%>
