<%- include ('./partials/header.ejs'); -%>


<div class="freeTimeSchdeuler">
    <h3>Free Time Scheduler</h3>
    <button><a href="/FreeTimeScheduler/MTEB">Morning Theory & Evening Lab</a></button>
    <button><a href="/FreeTimeScheduler/MLET">Morning Lab & Evening Theory</a></button>
</div>

<%- include ('./partials/footer.ejs'); -%>
