<%- include ('./partials/header.ejs'); -%>

<h1>Software Engineering Project</h1>
<p>Jai SureshKumar WI sir</p>
<h4>Jai Sampreeth Anna</h4>
<p>Software project !!!</p>

<%- include ('./partials/footer.ejs'); -%>
