<%- include ('./partials/header.ejs'); -%>

<p>Sampreeth testing here!!</p>
<h1>Checking for branch "Sam21602"</h1>
<p>Sampreeth testing here!!</p>

<h1>Checking for branch "AK1602"</h1>

<p>Sampreeth testing here!!</p>
<p>Sampreeth testing here!!</p>

<%- include ('./partials/footer.ejs'); -%>
