<%- include ('./partials/header.ejs'); -%>

<h1>Software Engineering Project</h1>
<p>Jai SureshKumar WI sir</p>
<h4>Jai Sampreeth Anna</h4>
<h4>This is going to be an amazing project</h4>

<%- include ('./partials/footer.ejs'); -%>
